*{
  margin: 0;
  padding: 0;

}
button{
  color: white;
}
input{
  background: white;
}
.container{
  background: #110b0d;
  color: white;
  width: 100vw;
}
th, td{
  padding:0 10px 0 0;
}

.ACCEPT{
    color:green;
}
.REJECT{
    color:red;
}
