<div ngbAccordion [closeOthers]="true">
  <div ngbAccordionItem [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Lenguajes Formales y Computabilidad</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <nav>
            <ul>
            <li><a routerLink="/lenguajesformales">Automatas de estado finito</a></li>
            <li><a routerLink="/lista"> Funciones de lista </a></li>

            </ul>
        </nav>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Otros</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
          <ul>
            <li><a routerLink="/reversi"> Reversi </a></li>
            <li><a routerLink="/p5-test"> Doom screen melt </a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
