<div ngbAccordion [closeOthers]="true">
  <div ngbAccordionItem [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Lenguajes Formales y Computabilidad</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <nav>
            <ul><a routerLink="/lenguajesformales">Automatas de estado finito</a></ul>
            <ul><a routerLink="/lista"> Funciones de lista </a></ul>
        </nav>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Otros</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
            <ul><a routerLink="/reversi"> reversi </a></ul>
            <ul><a routerLink="/p5-test"> p5.js example </a></ul>
      </div>
    </div>
  </div>
</div>
