.accordion {
  display: flex;
  flex-direction: column;
  padding: 0 20% 0 20%;
}
button {
  background-color: #110b0d;
  color: grey;
}
.accordion-button{
  background-color: #110b0d;
  color: grey;
}
.collapsed{
  background-color: #110b0d;
  color: grey;
}
.open{
    color:red;
}
